{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <title>{% block title %}Vagalume Carreiras{% endblock %}</title>
</head>
<body>

    <nav class="navbar">
        <div class="navbar-container">

            <div class="navbar-left">
                <a class="navbar-logo" href="#">
                    <img src="{% static 'img/logoVagalumeVectorized.svg' %}" alt="Vagalume Carreiras Logo">
                </a>
                <div class="navbar-main-links">
                    <a href="{% url 'landing_page' %}">Home</a>
                    <a href="#">Sobre Nós</a>
                    <a href="#">Conteúdo</a>
                </div>
            </div>

            <div class="navbar-auth-links">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="btn-cadastro-outline">Sair ({{ user.username }})</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn-login-gradient">Login</a>
                    <a href="{% url 'cadastro_candidato' %}" class="btn-cadastro-outline">Cadastre-se</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <main class="main-container">
        {% block content %}
        {% endblock %}
    </main>

<footer class="footer">
        <div class="footer-container">

            <div class="footer-logo">
                <img src="{% static 'img/logoVagalumeVectorized.svg' %}" alt="Vagalume Carreiras Logo">
            </div>

            <div class="footer-social">
                <h4>Nos encontre nas redes sociais</h4>
                <div class="footer-social-icons">
                    <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

            <div class="footer-contact">
                <h4>Estamos felizes em iluminar</h4>
                <p>vagalumecarreiras@gmail.com</p>
            </div>

        </div>

        <div class="footer-bottom">
            <hr class="footer-hr">
            <p class="footer-copyright">Copyright © 2025 Vagalume Carreiras</p>
        </div>
    </footer>
    </body>
</html>